<!DOCTYPE html>
<html lang="en">
    <cover>
        <head>
            <meta charset="UTF-8">
            <title>Bank Card Validation</title><br>
        </head>
        <style>
            html {
                background-image: url('https://images.wallpaperscraft.ru/image/single/zatmenie_luna_svet_120001_1280x720.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                height: 100%;
            }
        </style>
            <body>
                <center><H2 style="color: aquamarine;">Validation succesfuly</H2></center>
                <form action="/" method="get">
                    <center><button type="submit">Return in menu</button></center>
                </form>
            </body>
    </cover>
</html>